lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
coverage
karma_html

config/*.local.*

predict-ui.nuspec
packages/*.nupkg

.idea
app/modules/forgotpassword/controllers/forgotpasswordCtrl.js
/iisnode
.sass-cache/*
app/themes/default/*.css
app/themes/default/*.css.map
